DB_URL=jdbc:postgresql://localhost:5432/securecart
DB_USERNAME=replace-with-local-db-user
DB_PASSWORD=replace-with-local-db-password
APP_USER_USERNAME=replace-with-local-user
APP_USER_PASSWORD=replace-with-local-user-password
APP_ADMIN_USERNAME=replace-with-local-admin
APP_ADMIN_PASSWORD=replace-with-local-admin-password
