DB_URL=jdbc:postgresql://localhost:5432/securecart
DB_USERNAME=securecart
DB_PASSWORD=replace-me
APP_USER_USERNAME=student
APP_USER_PASSWORD=replace-me
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=replace-me
