target/
.classpath
.project
.settings/
.idea/
.vscode/settings.json
.env
*.log
*.iml
.DS_Store
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
terraform.tfvars
!*.tfvars.example
reports/
.zap/
# Terraform generated plan files
*.tfplan
**/tfplan

